.treeView {
  width: 300px;
}

.d1Link {
  font-size: 1.25rem;
  padding: 4px 0;
}

.d2Link {
  font-size: 1rem;
  padding: 2px 0;
}

.d3Link {
  font-size: 0.875rem;
  padding: 2px 0;
}

.link {
  display: block;
  outline: none;
}
